<h2>List</h2>
{{#if productos.0}}
  <table class="table table-sm table-hover">
    <caption>total</caption>
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Priceo</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      {{#each productos}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td>{{this.thumbnail}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h2>no products on the list</h2>
{{/if}}